@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column mb-4">
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) d-flex align-items-center bg-dark text-white" id="profile" asp-page="./Index">
            <i class="bi bi-person-circle me-2"></i> Profile
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) d-flex align-items-center bg-dark text-white" id="email" asp-page="./Email">
            <i class="bi bi-envelope me-2"></i> Email
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) d-flex align-items-center bg-dark text-white" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-shield-lock me-2"></i> Password
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item mb-2">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) d-flex align-items-center bg-dark text-white" asp-page="./ExternalLogins">
                <i class="bi bi-box-arrow-in-right me-2"></i> External Logins
            </a>
        </li>
    }
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) d-flex align-items-center bg-dark text-white" id="two-factor" asp-page="./TwoFactorAuthentication">
            <i class="bi bi-shield-check me-2"></i> Two-Factor Authentication
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) d-flex align-items-center bg-dark text-white" id="personal-data" asp-page="./PersonalData">
            <i class="bi bi-file-earmark-person me-2"></i> Personal Data
        </a>
    </li>
</ul>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
}
